{
    "semi": false,
    "tabWidth": 4,
    "singleQuote": true,
    "endOfLine": "crlf",
    "printWidth": 80,
    "overrides": [
        {
            "files": ".html",
            "options": {
                "parser": "html"
            }
        }
    ]
}
